{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="about-blurb1">
        <p style="color:white;">Sativa is the Repair Technician and owner of Reeds & Keys Repair. She graduated Renton Technical College in 2014 in Instrument Repair Technology. Since then, she has been repairing brass and woodwinds throughout Southern Oregon. After working freelance and in repair shops for 5 years, she is now opening her own business Reeds & Keys Repair specializing in woodwinds.</p>
        <p style="color:white;">In her free time, Sativa stays busy with hobbies that include jewelry metalsmithing, gardening, playing music, and going on bike rides.</p>
        <center><img src="/static/images/editpic6.jpg" style="max-width:50%;" alt="picture"></center>
    </div>
</div>

{% endblock %}

