<html lang="en">
    <head>
        <title>Reeds and Keys Woodwind Repair</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <meta name="description" content="Professional Woodwind Instrument Repair located in the Lane County.">
        <meta name="keywords" content="woodwind, repair, instrument repair, springfield or, springfield, eugene or, eugene, oregon, woodwind repair, woodwinds, woodwind service, band instruments, flute, clarinet, saxophone, repair, service, overhaul, adjust, pad change, music repair">



		<!-- my styles -->
		<link rel="stylesheet" href="/static/styles/base.css">
    </head>

    <body>
        <div class="title">
            <h1>Reeds & Keys</h1>
            <h1>Woodwind Repair</h1>
        </div>

        <div id="navbar">
            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" style="color:#bd951c" href="/">Reeds & Keys</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <a class="schedule-button" style="float:right" href="/contact">Schedule Now</a>
            </nav>
        </div>

        <nav role="navigation">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href="/"><li>Home</li></a>
                    <a href="/pricing"><li>Pricing</li></a>
                    <a href="/about"><li>About</li></a>
                    <a href="/contact"><li>Contact</li></a>
                </ul>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <script>
            window.onscroll = function() {myFunction()};

            var navbar = document.getElementById("navbar");
            navbar.style.zIndex = 10;
            var sticky = navbar.offsetTop;

            function myFunction() {
              if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky");
              } else {
                navbar.classList.remove("sticky");
              }
            }
        </script>
    </body>
</html>