{% extends "layout.html" %}
    {% block content %}
    <div class="container-fluid">
        <h2 style="font-weight:bold;">Pricing Rubric</h2>
        <div class="row">
            <div class="column">
                <h2>Instrument</h2>
                <p>Flute</p><br/>
                <p>Clarinet</p><br/>
                <p>Alto Saxophone</p><br/>
                <p>Tenor Saxophone</p><br/>
                <p>Baritone Saxophone</p><br/>
                <p>Tenon/Neck Recork</p><br/>
            </div>
            <div class="column">
                <h2>Adjustment</h2>
                <p>$50</p><br/>
                <p>$45</p><br/>
                <p>$60</p><br/>
                <p>$70</p><br/>
                <p>$90</p><br/>
                <p>$20</p><br/>
            </div>
            <div class="column">
                <h2>Clean Oil and Adjust</h2>
                <p>$100</p><br/>
                <p>$90</p><br/>
                <p>$120</p><br/>
                <p>$140</p><br/>
                <p>$180</p><br/>
                <p>-</p><br/>
            </div>
            <div class="column">
                <h2>Rebuild</h2>
                <p>$500+</p><br/>
                <p>$400+</p><br/>
                <p>$700+</p><br/>
                <p>$800+</p><br/>
                <p>$1000+</p><br/>
                <p>-</p><br/>
            </div>
            <div class="column">
                <h2>Pad**</h2>
                <p>$20</p><br/>
                <p>$20</p><br/>
                <p>$25</p><br/>
                <p>$25</p><br/>
                <p>$25</p><br/>
                <p>-</p><br/>
            </div>
        </div>
        <h3 style="text-align:center;color:white;"> The above rubric is intended to show base estimates. Pricing is subject to change upon consultation.</h3>
        <h4 style="text-align:left;color:white;">** price listed is per pad</h4>
    </div>
    {% endblock %}
